total-perspective-vortex
pyyaml
galaxy-app==24.0.0
galaxy-auth==24.0.0
galaxy-config==24.0.0
galaxy-data==24.0.0
galaxy-files==24.0.0
galaxy-job-execution==24.0.0
galaxy-job-metrics==24.0.0
galaxy-navigation==24.0.0
galaxy-objectstore==24.0.0
galaxy-tool-util==24.0.0
galaxy-tours==24.0.0
galaxy-util==24.0.0
galaxy-web-framework==24.0.0
galaxy-web-stack==24.0.0
